#titulo-h2 {
    color: darkorange;
}

.fundoAmarelo {
    background: yellow;
}

.textoVermelho {
    color: red;
}

h1 {
    background: aquamarine;
}

h2 {
    color: violet;
}

p {
    color: steelblue;
}